<%- include('layout/header') %>
<main class="container">
    <div class="row my-4">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <header class="card-header bg-dark text-light">
                    <h3>Creado por</h3>
                </header>
                <div class="card-body p-4">
                    <p class="font-weight-normal">Edgar A. R. G.</p>
                    <a href="/" class="btn btn-light"> <i class="fas fa-arrow-left"></i> Regresar </a>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include('layout/footer') %>
