<!-- footer.ejs -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/gy2++Zj4jK/sC6uQQ1kZ4Opel+k+HrfE9/UAA4"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXlRaKn+4Kq6M8+R19S+q4PXBvlj2mrmk6F8yD7j0I2dpe20jMiR+xhrD00F"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/js/bootstrap.min.js"
    integrity="sha384-pzjw8f+ua7Kw1TIqRjBWEpHvh2MZjBj6j9QZr3G/T1VtZ6eV2DTv5Zv7VvG30CMr"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("table").DataTable({
            order: [0, "desc"],
        });
    });
</script>

</body>

</html>